:root {
  --text-light: #fdfdfc;
  --text-dark: #0d1011;
  --background: #fdfdfc;
  --background-dark: #042d64;
  --btn-light: #d0d8dc;
  --btn-dark: #303a40;
  --accent: #658393;
}

:root.dark {
  --text-light: #fdfdfc;
  --text-dark: #658393;
  --background: #373d47;
  --background-dark: #0a1d37;
  --btn-light: #acbec7;
  --btn-dark: #303a40;
  --accent: #405e6d;
}

:root.notDark {
  --text-light: #fdfdfc;
  --text-dark: #0d1011;
  --background: #fdfdfc;
  --background-dark: #042d64;
  --btn-light: #d0d8dc;
  --btn-dark: #303a40;
  --accent: #658393;
}
/* 
TO CHANGE FOR MORE MONOCHROME COLORS
--text-light: #FDFDFC;
  --text-dark: #0D1011;
  --background: #FDFDFC;
  --background-dark: #042d64;
  --btn-light: #D0D8DC;
  --btn-dark: #303A40;
  --accent: #658393;
  ------------
  --text-light: #fbfcfd;
  --text-dark: #090f15;
  --background: #fbfcfd;
  --background-dark: #042d64;
  --btn-light: #9cb4d3;
  --btn-dark: #090f15;
  --accent: #486fa3;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var(--background);
  color: var(--text-dark);
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
}

.Header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--text-light);
  background-color: var(--background-dark);
  position: sticky;
  top: 0;
  box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.75);
}

nav {
  display: flex;
  padding-right: 3rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}
nav ul li {
  display: inline-block;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: var(--text-light);
}

nav a:focus,
nav a:hover {
  color: var(--btn-light);
  text-decoration: underline;
}

nav a:active {
  color: black;
  font-weight: bolder;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: var(--accent);
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 26px 0px rgba(0, 0, 0, 0.3) inset;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  translate: -15%;
  padding: 0.5rem;
  z-index: 1;
}

.dropDownDiv:hover .dropDownContent {
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.dropDownBtn {
  background-color: #042d64;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  color: #cce0e6;
}

.dropDownContent a {
  font-size: 1.3rem;
}

/* Index page CSS */
.indexSection {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  height: 88vh;
  padding: 4rem 7rem;
  background-image: url("../assets/img/indexImage.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

.welcomeArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}
.welcomeArticle div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 261px;
  min-width: 254.75px;
  background-color: #e3ebee;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 6px 5px #e3ebee;
  margin: 0 1.5rem;
}
.welcomeArticle div h2,
.welcomeArticle div p {
  text-align: center;
  color: var(--text-dark);
}

.imageIndexArticle {
  display: flex;
  width: 65%;
}

.indexStartBtn,
.indexStartBtn:visited {
  margin: 0;
  color: var(--text-dark);
  font-size: 1.75rem;
}

.indexStartBtn:hover {
  color: var(--accent);
}
